<!DOCTYPE html>
<html>
<head>
	<link href="/css/main.css" type="text/css" rel="stylesheet" />
	{{#if title}}
		<title>{{title}}</title>
	{{else}}
		<title>Local News Application</title>
	{{/if}}
</head>
<body>
	<header>
		<table id="menu">
			<tr>
				<td>
					<a href="/"><h1>Local News and Events Application</h1></a>
				</td>
				<td>
					<a href="/create_article"><h2>Create Article</h2></a>
				</td>
				<td>
					<h2>|</h2>
				</td>
				<td>
					<a href="/create_event"><h2>Create Event</h2></a>
				</td>
				<td>
					<a href="/login"><h2>Login</h2></a>
				</td>
				<td>
					<h2>|</h2>
				</td>
				<td>
					<a href="/register"><h2>Register</h2></a>
				</td>
			</tr>
		</table>
		<table id="filter_menu">
			<tr>
				<td><a href="/">Home Page</a></td>
				<td><a href="/articles">News Articles</a></td>
				<td><a href="/events">Local Events</a></td>
				<td><a href="/most_recent">Most Recent Posts</a></td>
				<td><a href="/highest_rated">Highest Rated Posts</a></td>
				<td><a href="/most_viewed">Most Viewed Posts</a></td>
			</tr>
		</table>
	</header>
	
	{{{body}}}
</body>
</html>
