<!DOCTYPE html>
<html>
<head>
	<link href="/css/main.css" type="text/css" rel="stylesheet" />
	{{#if title}}
		<title>{{title}}</title>
	{{else}}
		<title>Local News Application</title>
	{{/if}}
</head>
<body>
	<header>
		<h1>Local News</h1>
		<table id="menu">
			<tr>
				<td><a href="/">Home Page</a></td>
				<td><a href="/articles">News Articles</a></td>
				<td><a href="/events">Local Events</a></td>
				<td><a href="/most_recent">Most Recent Posts</a></td>
				<td><a href="/highest_rated">Highest Rated Posts</a></td>
				<td><a href="/most_viewed">Most Viewed Posts</a></td>
			</tr>
		</table>
	</header>
	
	{{{body}}}
</body>
</html>
