<head>
	<link href="/css/all_posts.css" type="text/css" rel="stylesheet" />
</head>

{{#each posts}}        
    <div class="post">
        <a href="/posts/{{this._id}}"><h3>{{this.title}}</h3></a>
        <p>{{this.content}}</p>
    </div>
{{/each}}
