<head>
    <link href="/css/create_article.css" type="text/css" rel="stylesheet" />
    <meta charset="utf-8">
    <title>Post an Article</title>
    <meta name="description" content="Form to add a new article">
</head>
    
<div class="createArticle">
    <h1>Create a new Article:</h1>

    <form action="/articles" method="post">
        <p>Heading:<br/><input type="text" name="heading" placeholder="Article Heading" value="" autofocus></p>
        <p>Content:<br/><textarea name="content" style="width:900px;height:300px;"></textarea></p>
        <p>Photo URL:<br/><input type="text" name="image"></p>
        <input type="submit" value="Submit">
    </form>
</div>
