<head>
    <link href="/css/create_event.css" type="text/css" rel="stylesheet" />
    <meta charset="utf-8">
    <title>Post an Event</title>
    <meta name="description" content="Form to add a new article">
</head>

<div class="createEvent">
    <h1>Create a new Event:</h1>

    <form action="/events" method="post">
        <p>Title:<br/><input type="text" name="title" placeholder="Event Title" value="" autofocus></p>
        <p>Date:<br/><input type="date" name="date" placeholder="Event Title" value="" autofocus></p>
        <p>Time:<br/><input type="time" name="time" placeholder="Event Title" value="" autofocus></p>
        <p>Location:<br/><input type="text" name="location" placeholder="Event Location" value="" autofocus></p>
        <p>Content:<br/><textarea name="content" style="width:900px;height:300px;"></textarea></p>
        <p>Photo URL:<br/><input type="text" name="image"></p>
        <p>Username:<br/><input type="text" name="user"></p>
        <input type="submit" value="Submit">
    </form>
</div>  