.articles {
    padding: 40px;
    width: 70%;
}

.article {
    border-radius: 0px 50px 30px 5px;
    background: #b3d9ff;
}

.pinned_content {
    display: inline-block;
    padding-top: 40px;
    width: 30%;
}

.pinned_articles {
    border-radius: 0px 50px 30px 5px;
    background: #b3d9ff;
    height: 300px;
    margin-bottom: 10px;
    padding: 10px;
}

.pinned_events {
    border-radius: 0px 50px 30px 5px;
    background: #b3d9ff;
    height: 300px;
    margin-bottom: 10px;
    padding: 10px;
}