.article {
    margin-left: 50px;
}

.articleContent {
    width: 100%;
}

.articleImage {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
}

.articleVideo {
    border-style: solid;
    width: 50%;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
}

.sharingOptions {
    width: 100%;
}