.event {
    margin-left: 50px;
}

.eventContent {
    width: 100%;
}

.eventImage {
    border-style: solid;
    width: 50%;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
}

.eventVideo {
    border-style: solid;
    width: 50%;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
}

.sharingOptions {
    width: 100%;
}